.gallery__grid {
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(3, 1fr);
  counter-reset: gallery-counter;
}

.gallery__grid h3 {
  font-size: 3rem;
  position: relative;
  padding-left: 5rem;
  padding-bottom: 3rem;
}

.gallery__grid h3::before {
  content: counter(gallery-counter);
  counter-increment: gallery-counter;
  position: absolute;

  font-size: 6rem;
  font-style: italic;

  top: -2.5rem;
  left: -2rem;

  transform: rotate(5deg);
}

.gallery__image {
  max-width: 36rem;
  max-height: 36rem;
  border-radius: 0.4rem;
  overflow: hidden;
}

.gallery__image img {
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
}

.gallery__image img:hover {
  transform: translate(-3%, 3%) scale(1.2) rotate(2deg);
}

@media (max-width: 600px) {
  .gallery__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
